{% extends "layout.html" %}
{% block content %}
<h1>Home Page</h1>
    {% for coin in coins %}
       <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ coin.name }}</a>
              <small class="text-muted">{{ coin.symbol }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ coin.price_usd }}</a></h2>
            <p class="article-content">{{ coin.rank }}</p>
              <p class="article-content">{{ coin.h_volume_usd }}</p>
              <p class="article-content">{{ coin.market_cap_usd }}</p>
              <p class="article-content">{{ coin.available_supply }}</p>
              <p class="article-content">{{ coin.total_supply }}</p>
              <p class="article-content">{{ coin.max_supply }}</p>
              <p class="article-content">{{ coin.percent_change_1h }}</p>
              <p class="article-content">{{ coin.percent_change_24h }}</p>
              <p class="article-content">{{ coin.percent_change_7d }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}


